section
{
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div
{
    width: auto;
    /* border: 2px solid red; */
    padding:30px 30px 30px 30px;
    margin: 20px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
    
}

img
{
    border-radius: 20px;
    height: 180px;
}

p
{
    padding-top: 10px;
    padding-bottom: 25px;
    font-size: 25px;
}

button
{
    height: 40px;
    width: 110px;
    border: none;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
}

a{
    text-decoration: none;
    color: black;
}